a{
    text-decoration: none;
}


body{
    font-family: 'Potta One', cursive;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 35px;
}

p{
    color: dimgray;
}
.name-highlight{
    color: orange;
}

.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section{
    width: 100%;
    overflow: hidden;
}
.half-width img{
    width: 100%;
}

.top-menu ul {
    margin: 0;
    padding: 0px;
    text-align: right;
}

.top-menu ul li {
    list-style: none;
    display: inline-block;
}

.top-menu ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;

padding: 35px 0px 35px 35px;



    display: block;
}

.left{
    background: #000;
    height: 100px;
}

.right{
    background: green;
    height: 100px;
}


.link-button{
    text-decoration: none;
    background-image: linear-gradient(lightSalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;

}

section{
    padding-bottom: 150px;
}
.project{
    text-align: center;
    background: #ddd;
    padding: 100px 0px;
}
.project h2 span{
    padding-right: 15px;
}
.single-project {
    padding: 20px;
    width: 25%;
    float: left;
    background: #fff;
    margin: 0px 15px;
    border-radius: 10px;
    box-shadow: 5px 10px 4px 0px #ccc;
}
.single-project img{
    width: 90%;
}
.project-are{
width: 100%; 
overflow: hidden;
padding-top: 70px;
margin-left: 5%;
}
.work-area {
    width: 1000px;
    padding: 90px 0px;
    background-image: url(images/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 150px 250px;
    border-radius: 20px;
}
.work-area img{
    width: 70%;
}
.work-area h2 {
    display: inline-block;
    margin-left: 100px;
    color: white;
}
.work-area a {
    float: right;
    margin-right: 100px;
    margin-top: 36px;
}

.last-area{
    text-align: center;
}
h3{
    font-size: 25px
}
.icon{
    padding-left: 0px;

    margin-left: 5px;
    display: inline-block;
}
.icon img{
    width: 50%;
}